<%= form_for(@composition_date) do |f| %>
  <% if @composition_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@composition_date.errors.count, "error") %> prohibited this composition_date from being saved:</h2>

      <ul>
      <% @composition_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entry %><br />
    <%= f.date_select :entry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
