<h1>Listing composition_dates</h1>

<table>
  <tr>
    <th>Entry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @composition_dates.each do |composition_date| %>
  <tr>
    <td><%= composition_date.entry %></td>
    <td><%= link_to 'Show', composition_date %></td>
    <td><%= link_to 'Edit', edit_composition_date_path(composition_date) %></td>
    <td><%= link_to 'Destroy', composition_date, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Composition date', new_composition_date_path %>
