<h1>Listing harps</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Number or strings</th>
    <th>Size</th>
    <th>Color</th>
    <th>Build date</th>
    <th>Serial number</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @harps.each do |harp| %>
  <tr>
    <td><%= harp.hc_user.username %></td>
    <td><%= harp.manufacturer %></td>
    <td><%= harp.model %></td>
    <td><%= harp.number_of_strings %></td>
    <td><%= harp.size %></td>
    <td><%= harp.color %></td>
    <td><%= harp.build_date %></td>
    <td><%= harp.serial_number %></td>
    <td><%= harp.description %></td>
    <td><%= link_to 'Show', harp %></td>
    <td><%= link_to 'Edit', edit_harp_path(harp) %></td>
    <td><%= link_to 'Destroy', harp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Harp', new_harp_path %>
