<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @instrument.model %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @instrument.manufacturer_id %>
</p>

<p>
  <b>GUID:</b>
  <%= @instrument.guid %>
</p>

<p>
  <b>Purchase date:</b>
  <%= @instrument.purchase_date %>
</p>

<p>
  <b>Color:</b>
  <%= @instrument.color %>
</p>

<p>
  <b>Serial:</b>
  <%= @instrument.serial %>
</p>

<p>
  <b>Owner:</b>
  <%= @instrument.user %>
</p>

<p>
  <b>Prev owner:</b>
  <%= @instrument.prev_owner %>
</p>

<p>
  <b>Description:</b>
  <%= @instrument.description %>
</p>

<p>
  <b>Finish:</b>
  <%= @instrument.finish %>
</p>


<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= link_to 'Back', instruments_path %>
