<%= form_for(@user_piece) do |f| %>
  <% if @user_piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_piece.errors.count, "error") %> prohibited this user_piece from being saved:</h2>

      <ul>
      <% @user_piece.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Choose a piece here, XXX replace with javascript -->

  <div class="select">
    <%= f.label :piece_id %>
    <%= f.collection_select(:piece_id, Piece.all, :id, :title)
    %>
  </div>

  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
