<h1>Pieces in my studio</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Composer</th>
    <th>Notes</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_pieces.each do |user_piece| %>
  <tr>
    <td><%= user_piece.piece.title %></td>
    <td><%= user_piece.piece.composer %></td>
    <td><%= user_piece.notes %></td>
    <td><%= user_piece.status %></td>
    <td><%= link_to 'Show', user_piece %></td>
    <td><%= link_to 'Edit', edit_user_piece_path(user_piece) %></td>
    <td><%= link_to 'Destroy', user_piece, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User piece', new_user_piece_path %>
